html, body, .App {
  height: 100vh;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.body-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: grey;
}

::-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 10px;
}